pipeline/adf-ingest-on-premise-data-to-cloud.json
{
	"name": "adf-ingest-on-premise-data-to-cloud",
	"properties": {
		"activities": [
			{
				"name": "LkpSourceTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_NAME IN\n(\n'DimEmployee'\n)",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "localhost",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSourceTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpSourceTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpSourceTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy On-Premise To Cloud",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DynamicSourceTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DW",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Send Success Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEachSourceTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-106.westeurope.logic.azure.com:443/workflows/19210ef00dd9456a955ed70622878540/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=jh9-sENDFE4lmnW_mTXrL5LlaTucSnE11E8d4LP9ysE",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"Data Ingestion - Success\",\n   \"ErrorMessage\": \"No Error has occurred\",\n   \"EmailTo\": “spkanga@gmail.com\"\n}\t\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEachSourceTable",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "adf-messenger",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": "n",
						"EmailTo": "info@kpsdata.co.uk",
						"Subject": "x"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "info@kpsdata.co.uk"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "@{activity('ForEachSourceTable').Error.Message}"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "Notification"
			}
		},
		"variables": {
			"vTableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}