pipeline/adf-ingest-on-premise-data-to-cloud.json
{
	"name": "adf-ingest-on-premise-data-to-cloud",
	"properties": {
		"activities": [
			{
				"name": "LkpSourceTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_NAME IN\n(\n---'DimGeography'\n 'dimCustomer'\n,'FactInternetSales'\n)",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "localhost",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Source Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpSourceTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpSourceTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy On-Premise To Cloud",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DynamicSourceTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DW",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"vTableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}